{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% if title %}
            {{ title }}
        {% else %}
            Fite Orang
        {% endif %}
    </title>
</head>
<body>
<link rel="stylesheet" href="{% static 'vendor/css/w3.css' %}">
{% block context %}
{% endblock %}
<script src="{% static 'vendor/js/jquery-3.3.1.js' %}"></script>
<script src="{% static 'vendor/js/jquery-parent-to-animate.js' %}"></script>
<script src="{% static 'js/rogue.js' %}"></script>
</body>
</html>