{% extends "backend/base.html" %}
{% load static %}
{% block context %}
    <style>
        body {
            text-align: center;
        }

        #editor {
            min-width: 30vw;
            height: 95vh;
        }

        .flex-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

    </style>
    <div class="flex-container">
        <div style="width: 100%;">
            <div style="display: inline-block;" id="field"></div>
        </div>
        <div>
            <div id="editor">def main():
                print('kek')
            </div>
            <button style="width: 100%; height: 5vh;">Run</button>
        </div>
    </div>

    <script src="{% static 'vendor/ace-builds-1.3.3/src-min-noconflict/ace.js' %}" type="text/javascript"
            charset="utf-8"></script>
    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.session.setMode("ace/mode/python");
        editor.resize()

        function get_code() {
            return editor.getSession().getValue();
        }
    </script>
{% endblock %}