{% extends "backend/base.html" %}
{% block context %}
    {% load static %}
    <style>
        body {
            background-repeat: no-repeat;
            background-image: url({% static 'img/teaser.png'%});
        }

        #splash {
            color: #FFF;
            position: fixed;
            bottom: 20%;
            left: 0%;
            right: 0%;
            text-align: center;
        }
    </style>
    <div id="splash">
        <h1 style="font-size: 5em">Fite Orang</h1>
        <a href="{% url 'game' %}"><h3 style="font-size: 3em">Let the journey begin</h3></a>

    </div>
{% endblock %}